@model CoolBooks.Models.Genres

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genre Details</h2>

<div>
    <dl class="dl-horizontal ">
        <table class="table table-hover table-responsive" id="genres">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                </tr>
            </tbody>
        </table>
</div>
<p>
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit | ", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts
{
    <script>
        $('#genres').dataTable({
            "ordering": false,
            "paging": false,
            "searching": false,
            "info": false,
            "scrollX": false,
            "scrollY": "50%",
           
            "columnDefs": [
                { "width": "15%", "targets": 0 }
            ]
        });
    </script>
}