@model CoolBooks.Models.Genres

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Genre</h2>

@using (Html.BeginForm("Edit", "Genres", FormMethod.Post, new { Id = "GenreForm" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "Name", @name = "Name", @class = "form-control small", @maxlength = 20 } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, 10, 51, new { htmlAttributes = new { @name = "Description", @class = "form-control", @style = "width: 700%; max-width: 70%;", @maxlength = 2000 } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            <br>
            <span>Remaining characters : </span><span id="chars">2000</span>
        </div>
    </div>

    @if (User.IsInRole("Admin"))
    {
        if (Model.IsDeleted != false)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.IsDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.IsDeleted, new { htmlAttributes = new { @class = "form-control normal" } })
                    @Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input id="ClearFieldsEdit" type="reset" value="Clear" class="btn btn-dark clearGenre" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts
{
    <script src="~/Scripts/CustomJavascript.js"></script>

}
